<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">  
    <title>通用模板</title>
    <link href="css/index.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id="app">
        <!-- <div>模板内容</div> -->
        <ul class="tablist">
            <li :class="currentIndex==index?'active':''" class="tabitem" :key='item.id' v-for="(item, index) in imgList" @click="change(index)" >{{ item.title }}</li>
        </ul>
        <div class="tabitem-img" :class="currentIndex==index?'current':''" :key='item.id' v-for="(item, index) in imgList">
            <img :src="item.path" :alt="item.title">
        </div>
        <!-- 内容模块 -->
        <div class="tabitem-img" :class="currentIndex ==0?'current':''">page1</div>
        <div class="tabitem-img" :class="currentIndex ==1?'current':''">page2</div>
        <div class="tabitem-img" :class="currentIndex ==2?'current':''">page3</div>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/index.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"> </script>
</body>
</html>