// @charset “utf-8”,
//通用样式
li {
    list-style: none;
}
li,ul {
    margin: 0;
    padding: 0;
}
//style
form {
    div {
        margin-bottom: 20px;
        padding: 10px ;
        &:not(:last-child) {
            border-bottom: 1px solid #f1f1f1;
        }
        &:nth-child(4) {
            height: auto;
        }
        span:first-child {
            display: inline-block;
            width: 100px;
        }
    }
}

